# IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

# LOADING DATA

In [ ]:
# Load the dataset into a pandas DataFrame
df = pd.read_csv('/content/Customers.csv')
df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

# DESCRIPTIVE STATISTICS OF A DATAFRAME

In [ ]:
df.describe()

,CustomerID,Age,Annual Income ($),Spending Score (1-100),Work Experience,Family Size
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,48.960000,110731.821500,50.962500,4.102500,3.768500
std,577.494589,28.429747,45739.536688,27.934661,3.922204,1.970749
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,500.750000,25.000000,74572.000000,28.000000,1.000000,2.000000
50%,1000.500000,48.000000,110045.000000,50.000000,3.000000,4.000000
75%,1500.250000,73.000000,149092.750000,75.000000,7.000000,5.000000
max,2000.000000,99.000000,189974.000000,100.000000,17.000000,9.000000

# DESCRIPTIVE STATISTICS OF AN INDIVIDUAL COLUMN

mean_age, median_age, and mode_age calculate the mean, median, and mode of the 'Age' column, respectively.

In [ ]:
# Calculate the mean
mean_age = df['Age'].mean()
print("Mean age:", mean_age)

Mean age: 48.96

In [ ]:
# Calculate the median
median_age = df['Age'].median()
print("Median age:", median_age)

Median age: 48.0

In [ ]:
# Calculate the mode
mode_age = stats.mode(df['Age'])
print("Mode age:", mode_age.mode[0])

Mode age: 31

<ipython-input-9-b7b4f0ef9b27>:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode_age = stats.mode(df['Age'])

std_age and var_age calculate the standard deviation and variance of the 'Age' column, respectively.

In [ ]:
# Calculate the standard deviation
std_age = df['Age'].std()
print("Standard deviation of age:", std_age)

Standard deviation of age: 28.42974718956592

In [ ]:
# Calculate the variance
var_age = df['Age'].var()
print("Variance of age:", var_age)

Variance of age: 808.2505252626312

range_age calculates the range of the 'Age' column by subtracting the minimum age from the maximum age.

In [ ]:
# Calculate the range
range_age = df['Age'].max() - df['Age'].min()
print("Range of age:", range_age)

Range of age: 99

quartiles_age calculates the quartiles of the 'Age' column at the 25th, 50th (median), and 75th percentiles.

In [ ]:
# Calculate the quartiles
quartiles_age = df['Age'].quantile([0.25, 0.5, 0.75])
print("Quartiles of age:")
print(quartiles_age)

Quartiles of age:
0.25    25.0
0.50    48.0
0.75    73.0
Name: Age, dtype: float64

skewness_age and kurtosis_age calculate the skewness and kurtosis of the 'Age' column, respectively.

In [ ]:
# Calculate the skewness
skewness_age = df['Age'].skew()
print("Skewness of age:", skewness_age)

Skewness of age: 0.04922190782917815

In [ ]:
# Calculate the kurtosis
kurtosis_age = df['Age'].kurtosis()
print("Kurtosis of age:", kurtosis_age)

Kurtosis of age: -1.1689262062986614

max_age and min_age calculate the maximum and minimum values of the 'Age' column, respectively.

In [ ]:
# Calculate the maximum value
max_age = df['Age'].max()
print("Maximum age:", max_age)

Maximum age: 99

In [ ]:
# Calculate the minimum value
min_age = df['Age'].min()
print("Minimum age:", min_age)

Minimum age: 0

count_age calculates the number of values in the 'Age' column.

In [ ]:
# Calculate the count of values in the 'age' column
count_age = df['Age'].count()
print("Count of values in 'age' column:", count_age)

Count of values in 'age' column: 2000